<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">EA Notifications</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="alert alert-danger" role="alert" *ngIf="showError">
    {{errorMessage}}
  </div>
  <div class="alert alert-success" role="alert" *ngIf="showSuccess">
    Successfully subsribed!
  </div>
  <div class="jumbotron">
    <h1>EA Notifications</h1>
    <p class="lead">Simple Progressive Web App that demonstrates Web Push notifications.</p>
    <button type="button" class="btn btn-lg btn-primary" (click)="subscribeToNotifications()">Subscribe &raquo;</button>
  </div>
</main>